<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794664378773-u20m78mc5l9g5f8s3alplgli9ihj0p5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794664378773-u20m78mc5l9g5f8s3alplgli9ihj0p5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCdm3_uogScZRSA2SB7Mxl-T-7bJzBddBE</string>
	<key>GCM_SENDER_ID</key>
	<string>794664378773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.A1distribution.all</string>
	<key>PROJECT_ID</key>
	<string>pv360-e4e5c</string>
	<key>STORAGE_BUCKET</key>
	<string>pv360-e4e5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794664378773:ios:e14055851d6001a82b169c</string>
	<key>DATABASE_URL</key>
	<string>https://pv360-e4e5c.firebaseio.com</string>
</dict>
</plist>