<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810780889499-mu1ql6bf6p782fm4e05jerkecaci2e8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810780889499-mu1ql6bf6p782fm4e05jerkecaci2e8b</string>
	<key>API_KEY</key>
	<string>AIzaSyACmIYKI8C0UZCSXK2fLOIMV6jkpLBbw00</string>
	<key>GCM_SENDER_ID</key>
	<string>810780889499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.A1Distribute.all</string>
	<key>PROJECT_ID</key>
	<string>pv360-uat-c6d5c</string>
	<key>STORAGE_BUCKET</key>
	<string>pv360-uat-c6d5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810780889499:ios:abcfa740eadfc3169cd13e</string>
	<key>DATABASE_URL</key>
	<string>https://pv360-uat-c6d5c.firebaseio.com</string>
</dict>
</plist>